/* Icomoon variables */
$icomoon-font-family: "shadyicons" !default;
$icomoon-font-path: '../../../assets/fonts' !default;

$icon-alert-circle: "\e900";
$icon-alert-triangle: "\e901";
$icon-arrow-down: "\e902";
$icon-arrow-up: "\e908";
$icon-arrow-left: "\e904";
$icon-arrow-right: "\e906";
$icon-arrow-down-circle: "\e903";
$icon-arrow-up-circle: "\e909";
$icon-arrow-left-circle: "\e905";
$icon-arrow-right-circle: "\e907";
$icon-check: "\e90a";
$icon-check-circle: "\e90b";
$icon-check-square: "\e90c";
$icon-chevron-down: "\e90d";
$icon-chevron-up: "\e910";
$icon-chevron-left: "\e90e";
$icon-chevron-right: "\e90f";
$icon-heart: "\e911";
$icon-minus: "\e912";
$icon-minus-circle: "\e913";
$icon-minus-square: "\e914";
$icon-plus: "\e916";
$icon-plus-circle: "\e917";
$icon-plus-square: "\e918";
$icon-phone-call: "\e915";
$icon-search: "\e919";
$icon-shopping-cart: "\e91a";
$icon-tag: "\e91b";
$icon-user: "\e91c";
$icon-x: "\e91d";
$icon-x-circle: "\e91e";
$icon-x-square: "\e91f";
$icon-edit: "\e920";
$icon-facebook: "\e921";
$icon-instagram: "\e922";
$icon-x1: "\e923";
$icon-twitter: "\e923";