/* Icomoon variables */

$icomoon-font-path: '../../../assets/fonts' !default;

$icon-facebook-alt: '\e900';
$icon-facebook: '\e901';
$icon-heart-alt: '\e902';
$icon-heart-path1: '\e903';
$icon-heart-path2: '\e904';
$icon-heart-path3: '\e90d';
$icon-instagram-alt: '\e905';
$icon-instagram: '\e906';
$icon-email-path1: '\e907';
$icon-email-path2: '\e908';
$icon-email-path3: '\e909';
$icon-email-path4: '\e90a';
$icon-email-path5: '\e90b';
$icon-email-path6: '\e90c';
$icon-square: '\e90e';
$icon-check-alt: '\e90f';
$icon-chevron-up: '\e910';
$icon-chevron-down: '\e911';
$icon-chevron-left: '\e912';
$icon-chevron-right: '\e913';
$icon-close: '\e914';
$icon-exclamation-triangle: '\e915';
$icon-search: '\e916';
$icon-spinner: '\e917';
$icon-arrow-right: '\e918';
