/*
** All variables
*/

/* Fonts */
// Font family
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;

// Font sizes
$rem-160: 10.000rem;
$rem-150: 9.375rem;
$rem-144: 9.000rem;
$rem-140: 8.750rem;
$rem-130: 8.125rem;
$rem-124: 7.750rem;
$rem-120: 7.500rem;
$rem-110: 6.875rem;
$rem-105: 6.563rem;
$rem-100: 6.250rem;
$rem-98: 6.125rem;
$rem-97: 6.0625rem;
$rem-96: 6.000rem;
$rem-95: 5.938rem;
$rem-94: 5.875rem;
$rem-93: 5.813rem;
$rem-92: 5.750rem;
$rem-90: 5.625rem;
$rem-89: 5.563rem;
$rem-88: 5.500rem;
$rem-85: 5.313rem;
$rem-80: 5.000rem;
$rem-78: 4.875rem;
$rem-77: 4.813rem;
$rem-75: 4.688rem;
$rem-72: 4.500rem;
$rem-70: 4.375rem;
$rem-68: 4.250rem;
$rem-65: 4.063rem;
$rem-64: 4.000rem;
$rem-63: 3.9375rem;
$rem-62: 3.875rem;
$rem-60: 3.750rem;
$rem-58: 3.625rem;
$rem-57: 3.563rem;
$rem-56: 3.500rem;
$rem-55: 3.438rem;
$rem-54: 3.375rem;
$rem-53: 3.313rem;
$rem-52: 3.250rem;
$rem-50: 3.125rem;
$rem-49: 3.0625rem;
$rem-48: 3.000rem;
$rem-47: 2.9375rem;
$rem-46: 2.875rem;
$rem-45: 2.813rem;
$rem-44: 2.750rem;
$rem-43: 2.688rem;
$rem-42: 2.625rem;
$rem-40: 2.500rem;
$rem-39: 2.438rem;
$rem-38: 2.375rem;
$rem-37: 2.3125rem;
$rem-36: 2.250rem;
$rem-35: 2.188rem;
$rem-34: 2.125rem;
$rem-33: 2.063rem;
$rem-32: 2.000rem;
$rem-31: 1.938rem;
$rem-30: 1.875rem;
$rem-29: 1.813rem;
$rem-28: 1.750rem;
$rem-27: 1.688rem;
$rem-26: 1.625rem;
$rem-25: 1.563rem;
$rem-24: 1.500rem;
$rem-23: 1.438rem;
$rem-22: 1.375rem;
$rem-21: 1.313rem;
$rem-20: 1.250rem;
$rem-19: 1.188rem;
$rem-18: 1.125rem;
$rem-17: 1.063rem;
$rem-16: 1.000rem;
$rem-15: 0.938rem;
$rem-14: 0.875rem;
$rem-13: 0.813rem;
$rem-12: 0.750rem;
$rem-11: 0.688rem;
$rem-10: 0.600rem;
$rem-9:  0.563rem;
$rem-8:  0.500rem;
$rem-7:  0.438rem;
$rem-6:  0.375rem;
$rem-5:  0.313rem;
$rem-4:  0.2500rem;
$rem-3:  0.1875rem;
$rem-2:  0.1250rem;
$rem-1:  0.0625rem;

// Font weights
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;



/* Colors */
$primary-color:             #000000;
$secondary-color:           #666666;
$dark-grey:					#999999;
$grey:						#f3f3f3;
$primary-bg:                #ffffff;
$primary-font-color:        #000000;


/* Breakpoints */
$breakpoints: ('x-small': (min-width: 480px),
    'small': (min-width: 576px),
    'medium': (min-width: 768px),
    'large': (min-width: 992px),
    'x-large': (min-width: 1200px),
    's-desk': (min-width: 1360px),
    'xx-large': (min-width: 1400px),
    'xxx-large': (min-width: 1550px),
) !default;

$breakpoints_mob: ('x-small': (max-width: 479px),
    'small': (max-width: 575px),
    'medium': (max-width: 767px),
    'large': (max-width: 991px),
    'x-large': (max-width: 1199px),
    's-desk': (max-width: 1359px),
    'xx-large': (max-width: 1399px),
    'xxx-large': (max-width: 1549px),
) !default;