.single-page {
    &.single-cart-checkout {
        &.cart {
            padding-top: 40px;
            .section-block {
                &.section-content {
                    .cart-wrap {
                        .block-title {
                            @include font($secondary-font, $bold);
                            font-size: 24px;
                            .cart-count {
                                font-weight: $regular;
                            }
                        }

                        .cart-table-wrap {
                            @include add-border(1px, $grey, 'all');
                            border-radius: 8px;
                            margin-top: 30px;
                            padding: 20px;
                            .cart-row {
                                @include flex-display(row, flex-start, flex-start);
                                margin: 0 -10px;
                                &:not(:last-child) {
                                    @include add-border(1px, $dark-grey, 'bottom');
                                    padding-bottom: 25px;
                                }
                                &:not(:first-child) {
                                    padding-top: 25px;
                                }
                                .product-info {
                                    flex-basis: 0;
                                    flex-grow: 1;
                                    max-width: 100%;
                                    padding: 0 10px;
                                    .product-name {
                                        margin-bottom: 10px;
                                        a {
                                            font-size: 25px;
                                            font-weight: $semi-bold;
                                            color: $alt-font-color;
                                            &:hover {
                                                color: $secondary-color;
                                            }
                                        }
                                    }
                                    .product-price, .product-subtotal {
                                        @extend h5;
                                        font-size: 20px;
                                        color: $alt-font-color;
                                        margin-bottom: 15px;
                                        .woocommerce-Price-amount {
                                            .woocommerce-Price-currencySymbol {
                                                font-size: 70%;
                                            }
                                        }
                                    }
                                    .product-quantity {
                                        .quantity {
                                            position: relative;
                                            @include flex-display;
                                            margin-right: 15px;
                                            &__btn {
                                                height: 35px;
                                                display: inline-flex;
                                                justify-content: center;
                                                align-items: center;
                                                font-size: 12px;
                                                width: 30px;
                                                padding: 0;
                                                @include add-border(1px, $alt-font-color, 'all');
                                                background: $primary-bg;
                                                @include transition(0.3s);
                                                &:hover {
                                                    background: rgba($alt-font-color, 0.1);
                                                }
                                                &.minus {
                                                    border-radius: 30px 0 0 30px;
                                                    border-right: 0;
                                                }
                                                &.plus {
                                                    border-radius: 0 30px 30px 0;
                                                    border-left: 0;
                                                }
                                            }
                                            .qty {
                                                height: 35px;
                                                display: inline-flex;
                                                max-width: 50px;
                                                @include font($secondary-font, $semi-bold);
                                                @include add-border(1px, $alt-font-color, 'all');
                                                pointer-events: none;
                                                -moz-appearance: textfield;
                                                appearance: textfield;
                                                margin: 0;
                                            }
                                            .qty::-webkit-inner-spin-button,
                                            .qty::-webkit-outer-spin-button {
                                                -webkit-appearance: none; 
                                                margin: 0;
                                            }
                                        }
                                    }
                                    .product-subtotal {
                                        font-size: 25px;
                                        margin-top: 25px;
                                        margin-bottom: 0;
                                        .small {
                                            font-size: 50%;
                                        }
                                    }
                                }
                                .product-image {
                                    flex: 0 0 18%;
                                    max-width: 18%;
                                    padding: 0 10px;
                                    &__thumb {
                                        border-radius: 5px;
                                        overflow: hidden;
                                    }
                                }
                                .product-footer {
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                    padding: 15px 10px 0;
                                    margin-top: 15px;
                                    @include add-border(1px, rgba($grey, 0.6), 'top');
                                    .product-remove {
                                        @include flex-display(row, center);
                                        a {
                                            display: inline-block;
                                            width: unset;
                                            height: auto;
                                            font-size: 14px;
                                            color: #bababa !important;
                                            &:hover {
                                                background: transparent;
                                                color: $dark-grey !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .cart-footer {
                            padding-left: 20px;
                            margin: 60px 0 30px;
                            .coupon {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin-bottom: 25px;
                                .form-control {
                                    font-size: 15px;
                                    text-transform: uppercase;
                                    height: 35px;
                                    @include add-border(1px, $alt-font-color, 'all');
                                    border-radius: 8px 0 0 8px;
                                }
                                .btn-main-ghost {
                                    height: 35px;
                                    font-size: 15px;
                                    min-width: 150px;
                                    padding: 0 15px;
                                    border-radius: 0 8px 8px 0;
                                    box-shadow: none;
                                    margin-left: -1px;
                                }
                            }
                            .update {
                                @include flex-display(row, center);
                            }
                        }

                        .cart-totals {
                            padding-left: 20px;
                            position: sticky;
                            top: 110px;
                            .woocommerce-shipping-totals {
                                &.shipping {
                                    input[type='text'] {
                                        height: 28px;
                                        font-size: 14px;
                                        @include add-border(1px, $form-border, 'all');
                                        border-radius: 4px;
                                        box-shadow: none !important;
                                        outline: 0 !important;
                                    }
                                    .button {
                                        @extend .btn-main-ghost;
                                        height: 30px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .wc-proceed-to-checkout {
                            display: flex;
                            justify-content: center;
                            .btn-main {
                                font-size: 24px;
                                height: 70px;
                                padding: 0 35px;
                            }
                        }

                        .cross-sells {
                            margin-top: 40px;
                            .products-carousel {
                                width: 100%;
                                overflow: hidden;
                                .slick-list {
                                    .slide {
                                        .loop-product-thumb {
                                            max-width: 200px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.checkout {
            .section-block {
                &.section-hero {
                    padding: 20px 0 25px;
                    .section-title {
                        @include font($secondary-font, $bold);
                        font-size: 35px;
                    }
                }

                &.section-content {
                    padding-top: 15px;
                    .customer-detail {
                        padding-right: 40px;
                        .woocommerce-billing-fields, .woocommerce-shipping-fields {
                            h3 {
                                @include font($secondary-font, $bold);
                                font-size: 25px;
                            }
                        }
        
                        .woocommerce-shipping-fields {
                            margin-top: 30px;
                        }
                    }
                    .order-review {
                        h3 {
                            @include font($secondary-font, $bold);
                            font-size: 25px;
                        }
                        .shop_table {
                            &.woocommerce-checkout-review-order-table {
                                border-radius: 0;
                                border-collapse: collapse;
                                thead, tbody, tfoot {
                                    th, td {
                                        font-size: 15px;
                                    }
                                }
                                tfoot {
                                    tr.order-total {
                                        td {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }

                        .woocommerce-checkout-payment#payment {
                            border-radius: 0;
                            .wc_payment_methods {
                                label {
                                    position: relative;
                                    cursor: pointer;
                                    padding-left: 10px;
                                    margin-bottom: 0;
                                    &:before, &:after {
                                        position: absolute;
                                        top: 50%;
                                        left: -20px;
                                        transform: translateY(-50%);
                                        font-family: 'shadyicons';
                                        font-size: 18px;
                                        line-height: 1;
                                        opacity: 0;
                                        @include transition(0.2s);
                                        @include respond-to-mob('medium') {
                                            top: 6px;
                                            transform: unset;
                                        }
                                    }
                                    &:before {
                                        content: '\e90b';
                                    }
                                    &:after {
                                        content: '\e925';
                                        opacity: 1;
                                    }
                                    &::selection {
                                        background: transparent;
                                        color: inherit;
                                    }
                                    &::-moz-selection {
                                        background: transparent;
                                        color: inherit;
                                    }
                                }
                                input[type="radio"] {
                                    opacity: 0;
                                    visibility: hidden;
                                    margin: 0;
                                    &:checked + label {
                                        &:before {
                                            opacity: 1;
                                        }
                                        &:after {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                            .place-order {
                                .btn-main {
                                    font-size: 25px;
                                    height: 60px;
                                    width: 100%;
                                    padding: 0 35px;
                                }
                            }
                        }
                    }

                    .woocommerce-order {
                        margin-top: 30px;
                        .woocommerce-notice {
                            font-size: 25px;
                        }
                        .woocommerce-order-details {
                            max-width: 750px;
                            margin: 30px auto 50px;
                            &__title {
                                @include font($secondary-font, $bold);
                                font-size: 25px;
                                color: $alt-font-color;
                                margin-bottom: 10px;
                            }
                            .woocommerce-table {
                                &--order-details {
                                    border-radius: 0;
                                    thead, tbody, tfoot {
                                        th, td {
                                            font-size: 15px;
                                        }
                                    }
                                    .wc-item-meta {
                                        li {
                                            @include flex-display;
                                        }
                                    }
                                }
                            }
                        }
                        .woocommerce-customer-details {
                            max-width: 750px;
                            margin: 30px auto 50px;
                            .woocommerce-column {
                                &__title {
                                    @include font($secondary-font, $bold);
                                    font-size: 20px;
                                    color: $alt-font-color;
                                }
                                address {
                                    background: rgba($grey, 0.1);
                                    font-size: 14px;
                                    height: 100%;
                                    border-radius: 0;
                                    padding: 10px 20px;
                                    @include add-border(1px, $alt-grey, 'all');
                                    p {
                                        font-size: 14px;
                                    }
                                }
                                &--billing-address, &--shipping-address {
                                    flex: 0 0 48%;
                                    max-width: 48%;
                                }
                            }
                        }
                    }

                    .woocommerce-form-coupon-toggle {
                        .woocommerce-info {
                            &:before {
                                content: '\e91b';
                                font-family: 'shadyicons';
                            }
                            .showcoupon {
                                font-weight: $semi-bold;
                                color: $secondary-color;
                            }
                        }
                    }
                    .checkout_coupon {
                        &.woocommerce-form-coupon {
                            border-radius: 0;
                            p {
                                margin-bottom: 5px;
                            }
                            .input-group {
                                .form-control {
                                    height: 38px;
                                    background: $form-bg;
                                    border-color: $form-border;
                                    border-radius: 0;
                                    box-shadow: none !important;
                                    outline: 0 !important;
                                    @include transition(0.2s);
                                    max-width: 250px;
                                }
                                .btn-main-ghost {
                                    height: 38px;
                                    font-size: 1rem;
                                    border-radius: 0;
                                    box-shadow: none;
                                    padding: 0 15px;
                                }
                            }
                        }
                    }

                    .woocommerce-order {
                        &.thankyou-page {
                            h2.woocommerce-notice {
                                font-size: 40px;
                                margin-bottom: 50px;
                                display: flex;
                                flex-direction: column;
                                i {
                                    font-size: 60px;
                                    margin-bottom: 15px;
                                }
                                &.woocommerce-notice--success {
                                    i {
                                        color: $green;
                                    }
                                }
                                &.woocommerce-notice--error {
                                    color: $red;
                                }
                            }
                            .woocommerce-order-overview {
                                &.order_details {
                                    @include flex-display(row, center);
                                    background: $alt-grey;
                                    padding: 15px 20px;
                                    margin-bottom: 20px;
                                    li {
                                        &:last-child {
                                            padding: 0;
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                            .gateway-instructions {
                                margin-bottom: 50px;
                                p {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}