.single-page {
    &.single-myaccount {
        .section-block {
            &.section-main {
                padding-top: 20px;
                .page-title {
                    @include font($secondary-font, $semi-bold);
                    font-size: 22px;
                    margin-bottom: 30px;
                }

                .account-main {
                    .woocommerce {
                        @include flex-display(row, flex-start, flex-start);
                        .woocommerce-MyAccount-navigation {
                            float: unset;
                            flex: 0 0 25%;
                            max-width: 25%;
                            ul {
                                padding-right: 30px;
                                li {
                                    &:not(:last-child) {
                                        @include add-border(1px, $grey, 'bottom');
                                    }
                                    &.is-active {
                                        a {
                                            color: $secondary-color;
                                        }
                                    }
                                    a {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                        .woocommerce-MyAccount-content {
                            float: unset;
                            flex: 0 0 75%;
                            max-width: 75%;
                            width: unset;
                            a {
                                color: $secondary-color;
                            }
                            .woocommerce-orders-table {
                                border: none;
                                border-collapse: collapse;
                                thead {
                                    th {
                                        line-height: 1.3;
                                        @include add-border(2px, $grey, 'bottom');
                                        padding: 2px 8px;
                                        span {
                                            font-size: 13px;
                                        }
                                        &.woocommerce-orders-table__header-order-actions {
                                            text-align: center;
                                        }
                                    }
                                }
                                tbody {
                                    td {
                                        @include add-border(1px, $grey, 'top');
                                        padding: 8px;
                                        a {
                                            font-weight: $semi-bold;
                                        }
                                        .woocommerce-button {
                                            @extend .btn-main-ghost;
                                            @include font($secondary-font, $semi-bold);
                                            font-size: 14px;
                                            text-transform: capitalize;
                                            height: 25px;
                                            padding: 0 15px;
                                        }
                                        &.woocommerce-orders-table__cell-order-actions {
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                            .pre-title {
                                font-size: 20px;
                                margin-bottom: 40px;
                                mark {
                                    background: $secondary-color;
                                    color: $primary-bg;
                                    &.order-status {
                                        text-transform: uppercase;
                                    }
                                }
                            }
                            .woocommerce-order-details {
                                &__title {
                                    @extend h5;
                                    @include font($secondary-font, $semi-bold);
                                    background: $alt-grey;
                                    padding: 10px 15px;
                                    margin-bottom: 0;
                                }
                            }
                            .woocommerce-table {
                                &--order-details {
                                    border-radius: 0;
                                    th, td {
                                        font-size: 16px;
                                    }
                                    .wc-item-meta {
                                        @include flex-display;
                                        @include add-border(1px, $alt-grey, 'top');
                                        li {
                                            @include flex-display;
                                            strong, p {
                                                line-height: 1.4;
                                            }
                                        }
                                    }
                                }
                            }
                            .woocommerce-customer-details {
                                .woocommerce-columns {
                                    &--addresses {
                                        width: 100%;
                                        .woocommerce-column {
                                            &--billing-address, &--shipping-address {
                                                .address-wrap {
                                                    height: 100%;
                                                    width: 100%;
                                                    @include flex-display(column, flex-start, flex-start);
                                                    flex-wrap: nowrap;
                                                    address {
                                                        font-size: 14px;
                                                        height: 100%;
                                                        @include add-border(1px, $alt-grey, 'all');
                                                        border-radius: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}