.single-page {
    &.single-myaccount {
        .section-block {
            &.section-main {
                padding-top: 20px;
                .page-title {
                    @include font($secondary-font, $semi-bold);
                    font-size: 22px;
                    margin-bottom: 30px;
                }

                .account-main {
                    .woocommerce {
                        @include flex-display(row, flex-start, flex-start);
                        .woocommerce-MyAccount-navigation {
                            float: unset;
                            flex: 0 0 25%;
                            max-width: 25%;
                            ul {
                                padding-right: 30px;
                                li {
                                    &:not(:last-child) {
                                        @include add-border(1px, $grey, 'bottom');
                                    }
                                    &.is-active {
                                        a {
                                            color: $secondary-color;
                                        }
                                    }
                                    a {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                        .woocommerce-MyAccount-content {
                            float: unset;
                            flex: 0 0 75%;
                            max-width: 75%;
                            width: unset;
                            a {
                                color: $secondary-color;
                            }
                            .woocommerce-orders-table {
                                border: none;
                                border-collapse: collapse;
                                thead {
                                    th {
                                        line-height: 1.3;
                                        @include add-border(2px, $grey, 'bottom');
                                        padding: 2px 8px;
                                        span {
                                            font-size: 13px;
                                        }
                                        &.woocommerce-orders-table__header-order-actions {
                                            text-align: center;
                                        }
                                    }
                                }
                                tbody {
                                    td {
                                        @include add-border(1px, $grey, 'top');
                                        padding: 8px;
                                        a {
                                            font-weight: $semi-bold;
                                        }
                                        .woocommerce-button {
                                            @extend .btn-main-ghost;
                                            @include font($secondary-font, $semi-bold);
                                            font-size: 14px;
                                            text-transform: capitalize;
                                            height: 25px;
                                            padding: 0 15px;
                                        }
                                        &.woocommerce-orders-table__cell-order-actions {
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}