/* Styles for all elements in the sidebar */

#sideBar {
    &.sidebar {
        margin-top: 30px;
        @include respond-to-mob('medium') {
            display: none;
        }
    }
}

#shadySidebar {
    .accordion {
        .accordion-item {
            border: none;
            .accordion-header {
                @include font($secondary-font, $bold);
                .accordion-button {
                    font-weight: $bold;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:after {
                        content: $icon-plus;
                        font-family: $icomoon-font-family;
                        background: unset;
                        width: auto;
                        height: auto;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                    &:not(.collapsed) {
                        background: $secondary-color;
                        color: $primary-bg;
                        border-color: $secondary-color;
                        &:after {
                            content: $icon-minus;
                            color: $primary-bg;
                        }
                    }
                }
            }
            .accordion-collapse {
                .accordion-body {
                    .filter {
                        li {
                            font-size: 0;
                            .form-check {
                                min-height: calc(12px * 1.4);
                                padding-left: 0;
                                .form-check-input {
                                    display: none;
                                    &:checked {
                                        & + .form-check-label {
                                            font-weight: $bold;
                                            &:before {
                                                opacity: 0;
                                            }
                                            &:after {
                                                color: $secondary-color;
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    & + .form-check-label {
                                        font-size: 12px;
                                        position: relative;
                                        padding-left: 20px;
                                        z-index: 0;
                                        cursor: pointer;
                                        &:before, &:after {
                                            content: $icon-square;
                                            font-family: $icomoon-font-family;
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                            transform: translateY(-50%);
                                        }
                                        &:after {
                                            content: $icon-check-square;
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                        &.filter-colors {
                            li {
                                .form-check-input {
                                    & + .form-check-label {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        gap: 8px;
                                        .color-box {
                                            width: 12px;
                                            height: 12px;
                                            border-radius: 2px;
                                            @include add-border(1px, $form-border, 'all');
                                            order: 1;
                                        }
                                    }
                                }
                            }
                        }
                        &.filter-stock {
                            .form-check-label[for="stock-instock"] {
                                pointer-events: none;
                                opacity: 0.4;
                            }
                        }
                    }
                }
            }
        }
    }
}

#mobiSidebar {
    @extend #sideBar;
    display: none;
    @include respond-to-mob('medium') {
        display: block;
        position: fixed;
        top: 70px;
        right: 0;
        width: 100vw;
        height: calc(100dvh - 70px);
        transform: translate(100%);
        background: $primary-bg;
        padding: 45px 15px 20px;
        margin-top: 0;
        overflow-y: auto;
        @include transition(0.2s);
        z-index: 2;
        &.open {
            transform: translate(0);
        }

    }
}

.filter-toggler {
    display: none;
    @include respond-to-mob('medium') {
        display: block;
        position: fixed;
        top: 75px;
        right: 12px;
        width: 30px;
        height: 30px;
        font-size: 12px;
        color: $primary-bg;
        background: $secondary-color;
        border: none;
        border-radius: 4px;
        z-index: 3;
        &.open {
            i {
                &:before {
                    content: $icon-x;
                }
            }
        }
    }
}