/* Icomoon variables */
$icomoon-font-family: "shadyicons" !default;
$icomoon-font-path: '../../assets/fonts' !default;

$icon-alert-circle: unquote('"\\e900"');
$icon-alert-triangle: unquote('"\\e901"');
$icon-arrow-down: unquote('"\\e902"');
$icon-arrow-up: unquote('"\\e908"');
$icon-arrow-left: unquote('"\\e904"');
$icon-arrow-right: unquote('"\\e906"');
$icon-arrow-down-circle: unquote('"\\e903"');
$icon-arrow-up-circle: unquote('"\\e909"');
$icon-arrow-left-circle: unquote('"\\e905"');
$icon-arrow-right-circle: unquote('"\\e907"');
$icon-check: unquote('"\\e90a"');
$icon-check-circle: unquote('"\\e90b"');
$icon-check-square: unquote('"\\e90c"');
$icon-chevron-down: unquote('"\\e90d"');
$icon-chevron-up: unquote('"\\e910"');
$icon-chevron-left: unquote('"\\e90e"');
$icon-chevron-right: unquote('"\\e90f"');
$icon-heart: unquote('"\\e911"');
$icon-minus: unquote('"\\e912"');
$icon-minus-circle: unquote('"\\e913"');
$icon-minus-square: unquote('"\\e914"');
$icon-plus: unquote('"\\e916"');
$icon-plus-circle: unquote('"\\e917"');
$icon-plus-square: unquote('"\\e918"');
$icon-phone-call: unquote('"\\e915"');
$icon-search: unquote('"\\e919"');
$icon-shopping-cart: unquote('"\\e91a"');
$icon-shopping-bag: unquote('"\\e928"');
$icon-tag: unquote('"\\e91b"');
$icon-user: unquote('"\\e91c"');
$icon-x: unquote('"\\e91d"');
$icon-x-circle: unquote('"\\e91e"');
$icon-x-square: unquote('"\\e91f"');
$icon-edit: unquote('"\\e920"');
$icon-square: unquote('"\\e924"');
$icon-circle: unquote('"\\e925"');
$icon-mail: unquote('"\\e938"');
$icon-filter: unquote('"\\e927"');
$icon-facebook: unquote('"\\e921"');
$icon-instagram: unquote('"\\e922"');
$icon-x1: unquote('"\\e923"');
$icon-twitter: unquote('"\\e923"');
$icon-whatsapp: unquote('"\\e926"');