/* Styles for all forms and form-elements */

.woocommerce {
    form {
        .form-group {
            display: flex;
            flex-direction: column;
            .form-label {
                font-size: 13px;
                font-weight: $semi-bold;
                line-height: 1;
                margin-bottom: 5px;
                opacity: 0.5;
                .required {
                    color: $secondary-color;
                }
            }
            .form-control {
                height: 38px;
                background: $form-bg;
                border-color: $form-border;
                border-radius: 0;
                box-shadow: none !important;
                outline: 0 !important;
                @include transition(0.2s);
                &:focus {
                    background: $primary-bg;
                    border-color: #80bdff;
                }
            }
            .field-info {
                font-size: 13px;
                line-height: 1.2;
                margin-top: 10px;
            }
            .password-input {
                .show-password-input {
                    top: 0;
                    right: 5px;
                    height: 38px;
                    @include flex-display;
                    @include transition(0.3s);
                    &:after {
                        font-size: 15px;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
                .woocommerce-password-strength {
                    font-size: 15px;
                }
                .woocommerce-password-hint {
                    font-size: 13px;
                }
            }
        }
        fieldset {
            legend {
                @extend h6;
                font-size: 20px;
            }
        }
    }
}

.form-control {
    box-shadow: none !important;
}

.select2-container {
    .select2-dropdown {
        .select2-results {
            &__option {
                font-size: 14px;
                &--highlighted {
                    background: $secondary-color;
                }
            }
        }
    }
}