/*
* Styles for Header area of application
*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    &__nav {
        background: $primary-bg;
        @include flex-display(row, space-between, center);
        height: 100%;
        padding: 0 25px;
        &--brand {
            .navbar-brand {
                display: block;
                padding: 0;
                margin: 0;
                img {
                    height: 60px;
                }
            }
        }
        &--left, &--right {
            flex: 0 0 30vw;
            max-width: 30vw;
        }
        &--left {
            .navbar-toggler {
                @include flex-display;
                border: 0;
                padding: 0;
                &__btn {
                    position: relative;
                    width: 35px;
                    height: 24px;
                    & > span {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: $primary-font-color;
                        @include transition(0.3s);
                        &:nth-child(1) {
                            top: 0;
                        }
                        &:nth-child(2) {
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &:nth-child(3) {
                            top: 100%;
                        }
                    }
                }
                &__label {
                    font-family: $alt-font;
                    text-align: left;
                    margin-left: 10px;
                    position: relative;
                    &--open, &--close {
                        @include transition(0.3s);
                    }
                    &--close {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                &.open {
                    .navbar-toggler__btn {
                        & > span {
                            &:nth-child(1) {
                                top: 50%;
                                transform: rotate(45deg) translateY(-50%);
                            }
                            &:nth-child(2) {
                                left: -30px;
                                opacity: 0;
                            }
                            &:nth-child(3) {
                                top: 50%;
                                transform: rotate(-45deg) translateY(-50%);
                            }
                        }
                    }
                    .navbar-toggler__label {
                        &--open {
                            opacity: 0;
                            visibility: hidden;
                        }
                        &--close {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        &--right {
            @include flex-display(row, flex-end, center);
            .navbar-wishlist, .navbar-account {
                margin-right: 15px;
                a {
                    @include flex-display(column, center, center);
                    span {
                        font-size: 10px;
                    }
                }
            }
            .navbar-cart {
                .btn {
                    font-size: 20px;
                    padding: 0;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    &__main-menu {
        position: fixed;
        top: 80px;
        left: 0;
        width: 480px;
        height: calc(100vh - 80px);
        background: $primary-bg;
        transform: translateX(-100%);
        @include transition(0.3s);
        padding: 25px;
        &.open {
            transform: translateX(0);
        }
        &--wrap {
            @include flex-display(column, space-between, flex-start);
            height: 100%;
        }
        .main-menu {
            @include flex-display(row, space-between, flex-start);
            width: 100%;
            .nav-item {
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
                .nav-link {
                    font-size: 17px;
                    font-weight: $semi-bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 0;
                }
                &.dropdown {
                    .nav-link {
                        &:after {
                            display: none;
                        }
                    }
                    .dropdown-menu {
                        position: relative;
                        top: unset;
                        left: unset;
                        float: none;
                        border: none;
                        padding-top: 0;
                        @include flex-display(column, flex-start, flex-start);
                        .dropdown-item {
                            font-size: 15px;
                            color: $dark-grey;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            &:hover {
                                color: $secondary-color;
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }

        .second-menu {
            @include flex-display;
            margin: 0 -10px;
            .nav-item {
                flex: 0 0 auto;
                width: auto;
                max-width: 100%;
                position: relative;
                padding: 0 10px;
                &:not(:last-child) {
                    &:after {
                        content: '';
                        position: absolute;
                        right: -1px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 2px;
                        height: 2px;
                        background: $secondary-color;
                    }
                }
                .nav-link {
                    font-size: 14px;
                    padding: 0;
                }
            }
        }

        .social-wrap {
            margin-top: 15px;
            @include flex-display;
            &__title {
                font-size: 14px;
                margin-bottom: 0;
            }
            &__icons {
                @include flex-display;
                margin-left: 15px;
                li {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $rem-70;
    z-index: 1000;
    .navbar {
        background: lighten($dark-grey, 30);
        height: $rem-70;
        border: none;
        margin-bottom: 0;
        @include border-radius(0);
        padding: $rem-8 0;
        @include transition(0.4s);
        .navbar-brand {
            display: block;
            height: auto;
            @include font($primary-font, $bold);
            font-size: $rem-15;
            color: $primary-color;
            text-transform: uppercase;
            & > img {
                width: $rem-40;
                margin-right: $rem-10;
                display: inline-block;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                margin-top: 0;
                & > li {
                    position: relative;
                    margin: 0 $rem-7;
                    &.active {
                        a {
                            &:hover {
                                color: $secondary-color;
                            }
                        }
                    }
                    a {
                        @include font($primary-font, $bold);
                        font-size: $rem-15;
                        color: $primary-color;
                        background: rgba($primary-bg, 0);
                        text-transform: uppercase;
                        padding: $rem-15 $rem-7;
                        line-height: $rem-40;
                        &:hover, &:focus {
                            background: rgba($secondary-color, 0);
                            color: $secondary-color;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        @include add-border($rem-3, $primary-color, 'bottom');
                        @include transition(0.4s);
                    }
                    &:hover, &.active, &.current-page-ancestor {
                        &:before {
                            width: 100%;
                        }
                    }
                    &.dropdown {
                        @include transition(0.4s);
                         a {
                             .caret {
                                 display: none;
                             }
                         }
                        & > .dropdown-menu {
                            background: rgba($primary-bg, 0.9);
                            padding: 0;
                            height: auto;
                            min-width: 200px;
                            border: none;
                            display: unset;
                            visibility: hidden;
                            opacity: 0;
                            @include border-radius(0);
                            // @include transform-scaleY(0);
                            // transform-origin: top;
                            transform: translateY(-100%);
                            @include transition(0.4s);
                            margin: 0;
                            z-index: -1;
                            .dropdown-item {
                                font-size: $rem-14;
                                color: $primary-color;
                                line-height: $rem-18;
                                text-transform: capitalize;
                                padding: $rem-15;
                                &:hover {
                                    color: $primary-bg;
                                    background: $primary-color;
                                }
                                &.dropdown {
                                    .dropdown-menu {
                                        background: rgba($primary-bg, 0.9);
                                        top: 0;
                                        left: 100%;
                                        padding: 0;
                                        border: none;
                                        @include border-radius(0);
                                    }
                                    &.open {
                                        & > a {
                                            color: $primary-bg;
                                            background: $primary-color;
                                        }
                                    }
                                }
                            }
                        }
                        &.show {
                            & > a {
                                color: $primary-color;
                            }
                            & > .dropdown-menu {
                                &.show {
                                    display: block;
                                    visibility: visible;
                                    opacity: 1;
                                    transform: translateY(0%);
                                    // @include transform-scaleY(1);
                                    @include box-shadow(0 2px 5px, rgba($primary-font-color, 0.1));
                                    .dropdown-item {
                                        // font-size: $rem-16;
                                        // line-height: $rem-18;
                                        // text-transform: capitalize;
                                        // padding: $rem-15;
                                        &:not(:last-child) {
                                            @include add-border(1px, rgba($primary-color, 0.4), 'bottom');
                                        }
                                        // & + .dropdown-menu {
                                        //     display: block;
                                        //     visibility: visible;
                                        //     opacity: 1;
                                        //     transform: translateY(0%);
                                        //     top: 0;
                                        //     left: 90%;
                                        //     border: none;
                                        //     border-radius: 0;
                                        //     padding: 0;
                                        //     margin-top: 10px;
                                        //     @include box-shadow(0 2px 5px, rgba($primary-font-color, 0.1));
                                        // }
                                    }
                                }
                            }
                        }
                     }
                }
            }
            .socials {
                li {
                    display: inline-flex;
                    &:not(:last-child) {
                        margin-right: $rem-10;
                    }
                }
            }
        }
    }
} */

body {
    &.admin-bar {
        .header {
            top: 32px;
            &__main-menu {
                top: calc(32px + 80px);
                height: calc(100vh - 80px - 32px);
            }
        }
    }
}


.page-header {
    background: $dark-grey;
    color: $grey;
    @include text-shadow($rem-1 $rem-1 0, rgba($primary-color, 0.15));
    padding: 0;
    margin-bottom: $rem-60;
    &.single {
        padding: 0;
    }
    h1 {
        font-size: $rem-30;
        @include font($primary-font, $bold);
        line-height: $rem-30;
    }
    .breadcrumb-trail {
        &.breadcrumbs {
            .trail-browse {
                font-size: $rem-15;
                @include font($primary-font, $regular);
                margin-right: $rem-20;
            }
            .trail-items {
                font-size: $rem-15;
                @include font($primary-font, $regular);
            }
        }
    }
}
