/* Styles for Typography and helpers */

// typography
h1 {
    @include font($primary-font, $regular);
    font-size: 60px;
    line-height: 1;
    margin: 0;
    &.xxl {
        font-size: 175px;
        line-height: 1;
        @include respond-to-mob('medium') {
            font-size: 65px;
        }
    }
}
h2 {
    @include font($primary-font, $regular);
    font-size: 50px;
    line-height: 1;
}
h3 {
    @include font($primary-font, $regular);
    font-size: 40px;
    line-height: 1.2;
    &.sm {
        font-size: 33px;
        line-height: 1.1;
    }
}
h4 {
    @include font($secondary-font, $regular);
    font-size: 30px;
    line-height: 1.2;
}
h5 {
    @include font($secondary-font, $regular);
    font-size: 25px;
    line-height: 1.2;
}
h6 {
    @include font($secondary-font, $semi-bold);
    font-size: 16px;
    line-height: 1.2;
}

p {
    @include font($secondary-font, $regular);
    font-size: 14px;
    line-height: 1.34;
    margin-bottom: calc(14px * 1.34);
}

.lead {
    @include font($primary-font, $regular);
    font-size: $rem-16;
    line-height: $rem-24;
}
.text-muted {
    color: $secondary-color;
}
.title-area {
    margin-bottom: $rem-65;
    h1 {
        font-size: $rem-50;
        line-height: $rem-70;
    }
    h2 {
        margin: 0 0 $rem-35;
    }
    .lead {
        margin: 0;
    }
    .margin-top-sm {
        margin-top: $rem-20;
    }
}

.color-grey {
    color: $grey;
}
.color-dark {
    color: $primary-font-color;
}
.color-alt-dark {
    color: $alt-font-color;
}

.woocommerce-Price-amount {
    .woocommerce-Price-currencySymbol {
        font-size: 70%;
    }
}