.single-page {
    &.single-product {
        .section-block {
            &.section-product-main {
                .product-img-wrap {
                    display: block;
                    width: 100%;
                    height: auto;
                    // padding-right: 50px;
                    position: relative;
                    z-index: 0;
                    @include respond-to-mob('medium') {
                        padding-right: 0;
                    }
                    &__inner {
                        @include flex-display(row, flex-start, flex-start);
                        gap: 20px;
                        &--main {
                            flex: none;
                        }
                        &--nav {
                            @include respond-to('medium') {
                                flex: 0 0 120px;
                                max-width: 120px;
                            }
                        }
                    }
                    .product-carousel {
                        // position: sticky;
                        // top: 20px;
                        // flex: 0 0 auto;
                        // width: auto;
                        // max-width: 100%;
                        // flex: 0 0 70%;
                        // max-width: 70%;
                        // flex: 1 0;
                        @include respond-to-mob('medium') {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                    .product-nav {
                        flex: 0 0 120px;
                        max-width: 120px;
                        // padding-left: 30px;
                        @include respond-to-mob('medium') {
                            flex: 0 0 100%;
                            max-width: 100%;
                            padding-left: 0;
                        }
                        .slick-slide {
                            margin: 1px 0;
                            opacity: 0.3;
                            @include transition(0.2s);
                            &.slick-current {
                                opacity: 1;
                            }
                            @include respond-to-mob('medium') {
                                margin-right: 5px;
                            }
                            .product-slide {
                                cursor: pointer;
                                width: 120px;
                                @include respond-to-mob('medium') {
                                    width: 65px;
                                    height: 65px;
                                }
                                &__img {
                                    width: 100%;
                                    aspect-ratio: 120 / 150;
                                    & > img {
                                        @include img-obj-fit;
                                    }
                                }
                            }
                        }
                    }
                }
                .entry-image {
                    width: 100%;
                    @include respond-to('x-large') {
                        padding-right: 50px;
                    }
                    .woocommerce-product-gallery {
                        width: 100%;
                    }
                }
                .entry-summary {
                    .product_title {
                        @extend h3, .sm;
                        font-family: $secondary-font;
                        @include respond-to-mob('medium') {
                            font-size: 20px;
                            margin-top: 20px;
                        }
                    }
                    .product-meta-top {
                        @include flex-display;
                        font-size: 0;
                        margin: 10px 0;
                        a {
                            display: inline-flex;
                            font-size: 12px;
                            font-weight: $semi-bold;
                            line-height: 1.4;
                        }
                        &__collection {
                            margin-right: 10px;
                            a {
                                background: $alt-font-color;
                                color: $primary-bg;
                                border-radius: 10px;
                                padding: 0 10px;
                                &:hover {
                                    background: $secondary-color;
                                }
                            }
                        }
                        &__category {
                            a {
                                color: $alt-font-color;
                                &:hover {
                                    color: $secondary-color;
                                }
                            }
                        }
                    }
                    .woocommerce-product-rating {
                        font-size: 10px
                    }
                    .price {
                        @extend h4;
                        font-family: $secondary-font;
                        font-weight: $bold;
                        color: $primary-font-color;
                        @include respond-to-mob('medium') {
                            font-size: 20px;
                        }
                        .woocommerce-Price-currencySymbol {
                            font-size: 70%;
                        }
                        .woocommerce-price-suffix {
                            font-size: 40%;
                        }
                        del, ins {
                            text-decoration: none;
                        }
                        del {
                            font-size: 80%;
                            order: 1;
                            padding-left: 10px;
                            text-decoration: none;
                            .amount {
                                position: relative;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: 52%;
                                    left: 0;
                                    transform: translateY(-50%);
                                    width: 100%;
                                    height: 2px;
                                    background: $primary-font-color;
                                }
                                bdi {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                    .woocommerce-product-details {
                        &__short-description {
                            margin-bottom: 20px;
                            margin-top: 20px;
                            p {
                                font-size: 14px;
                                margin-bottom: 8px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            a {
                                font-weight: $semi-bold;
                                color: $secondary-color;
                                &:hover {
                                    color: $primary-font-color;
                                }
                            }
                        }
                    }
                    .cart {
                        margin-bottom: 20px;
                        .variations {
                            margin-bottom: 20px;
                            .label {
                                font-size: 14px;
                                line-height: 1;
                                padding-bottom: 5px;
                                .cfvsw-selected-label {
                                    font-size: 15px;
                                    font-weight: $semi-bold;
                                    color: $secondary-color;
                                    &:before {
                                        color: $alt-font-color;
                                    }
                                }
                                &.size-chart-appended {
                                    @include flex-display;
                                    gap: 40px;
                                    position: relative;
                                    z-index: 0;
                                    .sizechart-wrap__trigger-sizechart {
                                        display: inline-block;
                                        font-size: 14px;
                                        font-weight: $bold;
                                        color: $secondary-color;
                                        line-height: 1;
                                        &:hover {
                                            color: $primary-font-color;
                                        }
                                    }
                                }
                            }
                            .value {
                                .cfvsw-label-option {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 40px !important;
                                    border-color: $alt-font-color;
                                    padding: 0;
                                    &.cfvsw-swatches-disabled {
                                        border-color: rgba($alt-font-color, 0.3);
                                        cursor: not-allowed;
                                        &:before {
                                            border-radius: 40px;
                                            opacity: 0.85;
                                        }
                                    }
                                    .cfvsw-swatch-inner {
                                        font-size: 13px;
                                        font-weight: $bold;
                                        line-height: 1;
                                    }
                                    &.cfvsw-selected-swatch {
                                        background: $alt-font-color;
                                        color: $primary-bg;
                                    }
                                    &.cfvsw-image-option {
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 40px !important;
                                        border-color: $alt-font-color;
                                        padding: 0;
                                    }
                                }
                                .reset_variations {
                                    display: inline-flex;
                                    font-size: 15px;
                                    font-weight: $semi-bold;
                                    margin-left: 15px;
                                }
                                .cfvsw-swatches-container {
                                    .cfvsw-swatches-option {
                                        width: 40px;
                                        height: 40px;
                                        min-height: 40px !important;
                                        max-height: 40px !important;
                                        border-radius: 40px !important;
                                        border-color: $alt-font-color;
                                        padding: 0;
                                    }
                                }
                            }
                            &.cfvsw-variation-disable-logic {
                                tbody {
                                    tr {
                                        &:not(:last-child) {
                                            td {
                                                &.value {
                                                    margin-bottom: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .single_variation_wrap {
                            .woocommerce-variation {
                                .woocommerce-variation-price {
                                    .price {
                                        @include flex-display();
                                        font-family: $secondary-font;
                                        font-weight: $bold;
                                        font-size: 35px;
                                        line-height: 1;
                                        margin-bottom: 15px;
                                        ins {
                                            text-decoration: none;
                                        }
                                        del {
                                            font-size: 80%;
                                            order: 1;
                                            padding-left: 10px;
                                            text-decoration: none;
                                            .amount {
                                                position: relative;
                                                &:before {
                                                    content: '';
                                                    position: absolute;
                                                    top: 52%;
                                                    left: 0;
                                                    transform: translateY(-50%);
                                                    width: 100%;
                                                    height: 2px;
                                                    background: $primary-font-color;
                                                }
                                                bdi {
                                                    opacity: 0.7;
                                                }
                                            }
                                        }
                                    }
                                }
                                .woocommerce-variation-availability {
                                    p.stock {
                                        font-size: 15px;
                                        font-weight: $bold;
                                    }
                                }
                            } 
                            .quantity {
                                position: relative;
                                @include flex-display;
                                margin-right: 15px;
                                &__btn {
                                    height: 45px;
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 15px;
                                    font-weight: $light;
                                    width: 35px;
                                    padding: 0;
                                    border: none;
                                    background: #eeeeee;
                                    @include transition(0.3s);
                                    @include respond-to-mob('medium') {
                                        height: 40px;
                                    }
                                    &:hover {
                                        background: rgba($alt-font-color, 0.1);
                                    }
                                    &.minus {
                                        border-radius: 4px 0 0 4px;
                                        border-right: 0;
                                    }
                                    &.plus {
                                        border-radius: 0 4px 4px 0;
                                        border-left: 0;
                                    }
                                }
                                .qty {
                                    height: 45px;
                                    display: inline-flex;
                                    max-width: 50px;
                                    @include font($secondary-font, $regular);
                                    background: #eeeeee;
                                    border: none;
                                    pointer-events: none;
                                    -moz-appearance: textfield;
                                    appearance: textfield;
                                    margin: 0;
                                    @include respond-to-mob('medium') {
                                        height: 40px;
                                    }
                                }
                                .qty::-webkit-inner-spin-button,
                                .qty::-webkit-outer-spin-button {
                                    -webkit-appearance: none; 
                                    margin: 0;
                                }
                            }
                            .single_add_to_cart_button {
                                @extend .btn-main;
                            }
                            .sizechart-wrap {
                                display: block;
                                .modal {
                                    .modal-dialog {
                                        .modal-content {
                                            .close {
                                                position: absolute;
                                                top: -10px;
                                                right: -30px;
                                                width: 30px;
                                                color: $primary-bg;
                                                float: unset;
                                                text-shadow: unset;
                                                opacity: 1;
                                            }
                                            .modal-body {
                                                padding: 10px;
                                                .size-chart {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .wpced {
                        margin-bottom: 10px;
                    }
                    .wishlist {
                        .yith-wcwl-add-to-wishlist {
                            margin-top: 0;
                            .yith-wcwl-add-button {
                                .add_to_wishlist {
                                    @extend .btn-main-ghost;
                                    .yith-wcwl-icon {
                                        &:before {
                                            content: '\f004';
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                            .yith-wcwl-wishlistexistsbrowse {
                                font-size: 15px;
                                .feedback {
                                    .yith-wcwl-icon {
                                        color: $secondary-color;
                                    }
                                }
                                a {
                                    font-weight: $semi-bold;
                                    color: $secondary-color;
                                    &:hover {
                                        color: $alt-font-color;
                                    }
                                }
                            }
                        }
                    }
                    .product-meta-separator, .product-share-separator {
                        margin: 25px 0;
                    }
                    .product_meta {
                        margin-top: 15px;
                        .sku_wrapper {
                            font-size: 14px;
                            margin-bottom: 20px;
                        }
                        
                        .tagged_as {
                            font-size: 14px;
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            i {
                                color: $grey;
                                margin-right: 5px;
                            }
                            a {
                                font-weight: $semi-bold;
                                color: $secondary-color;
                                &:hover {
                                    color: $primary-font-color;
                                }
                            }
                        }
                    }
                    .product-share {
                        margin-top: 20px;
                        .sharethis-inline-share-buttons {
                            .st-btn {
                                padding: 0 !important;
                                &:not(:last-child) {
                                    margin-right: 15px !important;
                                }
                            }
                        }
                    }

                    .product-accordion {
                        margin-top: -20px;
                        .card {
                            border: none;
                            .card-header {
                                background: transparent;
                                padding: 0;
                                padding: 15px 0;
                                margin-bottom: 0;
                                &__title {
                                    @include flex-display(row, space-between, center);
                                    @extend h6;
                                    line-height: 1;
                                    margin-bottom: 0;
                                    &--icon {
                                        i {
                                            &:before {
                                                content: '\e912';
                                            }
                                        }
                                    }
                                    &.collapsed {
                                        .card-header__title--icon {
                                            i {
                                                &:before {
                                                    content: '\e916';
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .card-body {
                                padding: 20px 0 25px;
                                .product-spec-wrap {
                                    &__row {
                                        @include flex-display(row, flex-start, flex-start);
                                        flex-wrap: nowrap;
                                        @extend p;
                                        &:not(:last-child) {
                                            margin-bottom: 15px;
                                        }
                                        &--label {
                                            flex: 0 0 30%;
                                            max-width: 30%;
                                            font-size: 12px;
                                            font-weight: $semi-bold;
                                            color: $alt-font-color;
                                            margin-bottom: 0;
                                        }
                                        &--info {
                                            flex: 0 0 70%;
                                            max-width: 70%;
                                            padding-left: 10px;
                                            a {
                                                font-weight: $semi-bold;
                                                color: $secondary-color;
                                                &:hover {
                                                    color: $alt-font-color;
                                                }
                                            }
                                        }
                                    }
                                }
                                .woocommerce-Reviews {
                                    .woocommerce-Reviews-title {
                                        @extend h6;
                                        margin-bottom: 20px;
                                    }
                                    .commentlist {
                                        padding-left: 0;
                                        .review {
                                            display: block;
                                            position: relative;
                                            &:after {
                                                content: '';
                                                position: absolute;
                                                left: 50%;
                                                bottom: 0;
                                                transform: translateX(-50%);
                                                width: 85%;
                                                height: 1px;
                                                background: rgba($alt-font-color, 0.2);
                                            }
                                            .comment-wrap {
                                                @include flex-display(row, flex-start, flex-start);
                                                &__img {
                                                    flex: 0 0 70px;
                                                    max-width: 70px;
                                                    .user-img {
                                                        width: 50px;
                                                        height: 50px;
                                                        border-radius: 50px;
                                                        @include add-border(2px, $grey, 'all');
                                                        overflow: hidden;
                                                        img {
                                                            width: 100%;
                                                            height: 100%;
                                                            object-fit: cover;
                                                            object-position: center;
                                                        }
                                                    }
                                                }
                                                &__text {
                                                    flex-basis: 0;
                                                    flex-grow: 1;
                                                    max-width: 100%;
                                                    padding-left: 5px;
                                                    .star-rating {
                                                        font-size: 12px;
                                                        color: $secondary-color;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    #review_form_wrapper {
                                        margin-top: 20px;
                                        .comment-respond {
                                            .comment-reply-title {
                                                @extend h6;
                                            }
                                            .comment-form {
                                                label {
                                                    flex: 0 0 20%;
                                                    max-width: 20%;
                                                    font-size: 14px;
                                                }
                                                .comment-form-rating {
                                                    @include flex-display;
                                                    .stars {
                                                        cursor: pointer;
                                                    }
                                                }
                                                .comment-form-comment {
                                                    @include flex-display(row, flex-start, flex-start);
                                                    textarea {
                                                        flex: 0 0 80%;
                                                        max-width: 80%;
                                                        min-height: 50px;
                                                        @include add-border(1px, $alt-font-color, 'all');
                                                    }
                                                }
                                                .form-submit {
                                                    padding-left: 20%;
                                                    input#submit {
                                                        @extend .btn-main;
                                                        height: 35px;
                                                        padding: 0 20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .description-content {
                                .card-body {
                                    h2, h3, h4, h5, h6 {
                                        @include font($secondary-font, $bold);
                                        @extend h4;
                                        font-size: 20px;
                                        strong, b {
                                            @include font($secondary-font, $bold);
                                        }
                                    }
                                    h5 {
                                        font-size: 18px;
                                    }
                                    h6 {
                                        font-size: 14px;
                                    }
                                    em, i {
                                        font-style: normal;
                                    }
                                    strong, b {
                                        font-weight: $regular;
                                    }
                                    ul, ol {
                                        @extend p;
                                        padding-left: 20px;
                                    }
                                    ul {
                                        list-style: circle;
                                        li {
                                            &:not(:last-child) {
                                                margin-bottom: 8px;
                                            }
                                        }
                                        &.xs-spacer-top {
                                            margin-top: -12px;
                                        }
                                    }
                                    ol {
                                        list-style: decimal-leading-zero;
                                    }
                                    .text-bold {
                                        font-weight: $bold !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.section-product-more {
                padding-top: 100px;
                .related, .up-sells {
                    .section-title {
                        @extend h5;
                        // font-family: $primary-font;
                        line-height: 1;
                        margin-bottom: 20px;
                    }
                    .products-carousel {
                        .product {
                            .wpced-product {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}